{
  "clientId": "test_7hQXNW4XuBVonoWv7I0SBpz3rCadt5r3",
  "clientSecret": "",
  "appDomain": "http://localhost:4201",
  "serverDomain": "http://localhost:4200",
  "apiDomain": "https://api.justifi.ai",
  "sellerAccountId": "acc_1lN5vx3lBVUj4TISKPlqlu"
}
